<article class="post-card post-card--announce"{{#if feature_image}} style="background-image:url({{feature_image}});"{{/if}}>
    <div class="announce">
        <div class="announce-content">
            <h2 class="announce-title">{{title}}</h2>
            <div class="announce-desc">{{content}}</div>
        </div>
        <div class="announce-cta">
            <a href="{{excerpt}}">
                <span>{{t "More"}}</span>
            </a>
        </div>
    </div>
</article>