{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}

<div class="author-card">
    {{#if profile_image}}
        <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
    {{else}}
        <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
    {{/if}}
    <div class="author-card-name"><a href="{{url}}">{{name}}</a></div>
</div>

{{/author}}
