<nav class="site-nav">
    <div class="site-nav-left">
        <a class="site-nav-logo" href="{{@blog.url}}"><img src="/assets/img/logo-blog-cozycloud.svg" alt="{{@blog.title}}" /></a>
    </div>
    <div class="site-nav-right">
        <nav class="nav">
            <ul>
                <li><a href="{{@blog.url}}/tag/features">{{t "Features"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/tech">{{t "Tech"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/cloudery">{{t "Cloudery"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/privacy">{{t "Privacy"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/ai">{{t "AI"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/community">{{t "Community"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/events">{{t "Events"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/podcasts">{{t "Podcasts"}}</a></li>
                <li class="nav--mobile"><a href="{{@blog.url}}/tag/jobs">{{t "Jobs"}}</a></li>
                <li class="subnav">
                    <span>{{t "Team"}}</span>
                    <ul class="nav--sub">
                        <li><a href="{{@blog.url}}/tag/tech">{{t "Tech"}}</a></li>
                        <li><a href="{{@blog.url}}/tag/cloudery">{{t "Cloudery"}}</a></li>
                    </ul>
                </li>
                <li class="subnav">
                    <span>{{t "News"}}</span>
                    <ul class="nav--sub">
                        <li><a href="{{@blog.url}}/tag/privacy">{{t "Privacy"}}</a></li>
                        <li><a href="{{@blog.url}}/tag/ai">{{t "AI"}}</a></li>
                        <li><a href="{{@blog.url}}/tag/community">{{t "Community"}}</a></li>
                        <li><a href="{{@blog.url}}/tag/events">{{t "Events"}}</a></li>
                        <li><a href="{{@blog.url}}/tag/podcasts">{{t "Podcasts"}}</a></li>
                        <li><a href="{{@blog.url}}/tag/jobs">{{t "Jobs"}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a class="rss-button" href="{{@blog.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
    </div>
</nav>
