<nav class="site-nav">
    <div class="site-nav-left">
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{asset 'img/logo-blog-cozycloud.svg'}}" alt="{{@site.title}}" /></a>
    </div>
    <div class="site-nav-right">
        <nav class="nav">
            <ul>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "producttipstag"}}">{{t "Product tips"}}</a></li>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "storiestag"}}">{{t "Stories"}}</a></li>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "techtag"}}">{{t "Tech Blog"}}</a></li>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "culturetag"}}">{{t "Culture"}}</a></li>
                <li class="nav--mobile hide-en"><a href="{{@site.url}}/tag/{{t "privacytag"}}">{{t "Privacy"}}</a></li>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "manifestotag"}}">{{t "Manifesto"}}</a></li>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "aitag"}}">{{t "AI"}}</a></li>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "communitytag"}}">{{t "Community"}}</a></li>
                <li class="nav--mobile"><a href="{{@site.url}}/tag/{{t "eventstag"}}">{{t "Events"}}</a></li>
                <li class="subnav">
                    <span>{{t "Use cases"}} {{> "icons/arrow" direction="down"}}</span>
                    <ul class="nav--sub">
                        <li><a href="{{@site.url}}/tag/{{t "producttipstag"}}">{{t "Product tips"}}</a></li>
                        <li><a href="{{@site.url}}/tag/{{t "storiestag"}}">{{t "Stories"}}</a></li>
                    </ul>
                </li>
                <li class="subnav">
                    <span>{{t "Team"}} {{> "icons/arrow" direction="down"}}</span>
                    <ul class="nav--sub">
                        <li><a href="{{@site.url}}/tag/{{t "techtag"}}">{{t "Tech Blog"}}</a></li>
                        <li><a href="{{@site.url}}/tag/{{t "culturetag"}}">{{t "Culture"}}</a></li>
                    </ul>
                </li>
                <li class="subnav">
                    <span>{{t "News"}} {{> "icons/arrow" direction="down"}}</span>
                    <ul class="nav--sub">
                        <li class="hide-en"><a href="{{@site.url}}/tag/{{t "privacytag"}}">{{t "Privacy"}}</a></li>
                        <li><a href="{{@site.url}}/tag/{{t "manifestotag"}}">{{t "Manifesto"}}</a></li>
                        <li><a href="{{@site.url}}/tag/{{t "aitag"}}">{{t "AI"}}</a></li>
                        <li><a href="{{@site.url}}/tag/{{t "communitytag"}}">{{t "Community"}}</a></li>
                        <li><a href="{{@site.url}}/tag/{{t "eventstag"}}">{{t "Events"}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</nav>
