{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}

<header class="site-header">
    <div class="inner">
        {{> "site-nav"}}
    </div>
    <!--
    <div class="site-header-content {{#if @site.cover_image}}" style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}">
        <div class="inner">
            <h1 class="site-title">
                {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
                {{/if}}
                {{@site.title}}
            </h1>
            <h2 class="site-description">{{@site.description}}</h2>
        </div>
    </div>
    -->
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
            {{!-- > "subscribe" card=true --}}
            {{!-- Call for 1 advertise page --}}
            {{#get "posts" filter="tags:announce+page:true" limit="1"}}
                {{#foreach posts}}
                    {{> "announce-card"}}
                {{/foreach}}
            {{/get}}
        </div>

    </div>
</main>
<div class="inner">
    {{pagination}}
</div>
